
/*upper nav has totol height of 70px*/
/*bars width:80px on big size and 240px on click*/

/*code for scrool bar customization*/
::-webkit-scrollbar{width:7px;}
::-webkit-scrollbar-track{background:#212121;box-shadow: 1px 2px 7px 3px #212121 inset;}
::-webkit-scrollbar-thumb{background:rgb(88, 88, 88); border-radius:100vw;height:70px;}
::-webkit-scrollbar:hover{width:5px;}
::-moz-scrollbar:hover{width:5px;}

@supports(scrollbar-color: rgb(88, 88, 88) #212121 ){
*{
scrollbar-color:rgb(88, 88, 88) #212121 ;
scrollbar-width:thin;
}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Arial",sans-serif;
}
/*custom scrollbar*/
/*for chrome, opera, safari*/
body{
   background-color: #181818;
}

/*for fire-fox*/
.container{
    display: flex;
    overflow: hidden;
}
.container section{
min-width: 100%;

}
.container .header{
 display:grid;
 padding: 10px 20px;
 grid-template-columns: minmax(180px,180px) 2fr minmax(250px,250px);
 grid-template-rows: 50px;
 background-color: #212121;/*derk Theme*/
}
.Search_header{
 display:grid;
 padding: 10px 20px;
 grid-template-columns: 80px 1fr 80px;
 grid-template-rows: 50px;
 background-color: #212121;/*derk Theme*/
}
.back-btn-box, .flexCenter{
    
    display: flex;
    justify-content: center;
    align-items: center;
} 
.ham_barger, .back-btn-box{
   padding: 0px 10px;
    font-size: 20px;
    color:#fff;/*derk Theme*/
    
}
.ham_barger i, .barAndLogo .bar i, .iconBox i, #ser_btn{
    cursor: pointer;
}
.box1{
 display:grid;
 grid-template-columns: 1fr 2fr;
 align-items: center;
}
.box2{
    display:grid;
 grid-template-columns: 0.5fr 2fr 0.25fr;
 align-items: center; 
}
.box2 div{
    height: 100%;
}
.logo{
display:flex;
align-items: center;
}
.logo img{
    width: 100%;
}
.searchBox{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 10% 10%;/*use media query to increse and dec on different size*/
}
.search-Container{
       display: grid;
       grid-template-columns: 1fr 50px;
       grid-template-rows: 50px;      
}

.searchBox div input, #ser_input{
display: inline-block;
width: 100%;
height: 100%;
color: rgb(107, 106, 106);/*derk Theme*/
font-weight: bold;
letter-spacing: 1px;
-webkit-appearance: none;
-webkit-font-smoothing: antialiased;
background-color: transparent;
border: none;
box-shadow: none;
font-family: 'Roboto','Noto',sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
padding: 5px;
outline: none;
background-color: hsl(0, 0%, 7%);/*derk Theme*/
border:1px solid hsl(0, 0%, 19.6%);

}
.search button, #q{
display: inline-block;
width:100%;
height: 100%;
background-color:  hsl(0, 0%, 19.6%);/*derk Theme*/
border:none;
}
.search button i{
font-size: 20px;
color:rgb(255, 255, 255);/*derk Theme*/
}
.circle-container,.circle-container2{
display: flex;
justify-content: center;
align-items: center;
padding: 0px 4px;
}
#mike,#mike2,#userProfile{
height:40px;
width: 40px;
border-radius: 50%;
background-color: hsl(0, 0%, 7%);/*derk Theme*/
cursor: pointer;
}
#userProfile{
height:42px;
width: 42px;
}
.item.box3{
font-size: 22px;
display: flex;
text-align: center;
color:#fff;    
}
.item.box3 .iconBox{
align-self: center;
}
.iconBox{
width:23.33%;
}

.userPic{
width:30%;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 4px;

}
.userPic #userProfile img{
width:100%;
height: 100%;
border-radius: 50%;
/*image-rendering: -webkit-optimize-contrast;*/
}
.counter{
width:20px;
height: 15px;
border-radius: 8px;
background-color: rgb(255, 254, 254);
position: absolute;
top:0px;
right:6px;
font-size: 13px;
font-weight: bold;
text-align: center;
color:#212121;
}

@media screen  and (max-width:1167px) and (min-width:968px) {
.searchBox{
    grid-template-columns: 70% 15% 15%;/*use media query to increse and dec on different size*/
}
}
@media screen  and (max-width:967px) and (min-width:768px) {
.searchBox{
 
    
    grid-template-columns: 60% 20% 20%;/*use media query to increse and dec on different size*/
}
.box2{

 grid-template-columns: 0.25fr 2fr 0.25fr;
}
}
@media screen  and (max-width:767px) and (min-width:0px) {
.search button{

background-color:  transparent;
}
.hideOnSmall{
 
  display: none;
}
.searchBox{
 
 grid-template-columns: 1fr 1fr 1fr ;
}
.circle-container{
grid-column-start:3 ;
}
.changePosition{
/* grid-row-start:1;
 grid-row-end: 2; 
 grid-column-start:3 ;
 grid-column-end:4 ;*/
 grid-column-start:2 ;
}

}
@media screen  and (max-width:678px) and (min-width:0px) {

.search button{

background-color:  transparent/*derk Theme*/
}
#mike{
background-color: transparent;/*derk Theme*/

}
}
@media screen  and (max-width:594px) and (min-width:0px) {

.search button{

background-color:  transparent/*derk Theme*/
}
#mike{
background-color: transparent;/*derk Theme*/

}
.hidebellOnSmall{
display: none;
}
.item.box3{
justify-content: flex-end;
}
.container .header{
 display:grid;
 padding: 10px 20px;
 grid-template-columns: minmax(180px,180px) 1fr 2fr;
}
.iconBox{
width: 30%;

}
.userPic{
width:40%;
}
.item.box3{
font-size: 20px; 
}
}

@media screen  and (max-width:594px) and (min-width:0px) {
.circle-container{
 
 display: none;
}
.searchBox{

grid-template-columns: 1/-1 ;
}

}
@media screen  and (max-width:600px) and (min-width:0px) {
.container .header, .Search_header{ 
 padding: 10px 10px;
}
.Search_header{
 grid-template-columns: 60px 1fr 60px;
}
}
@media screen  and (max-width:500px) and (min-width:0px) {
.container .header, .Search_header{ 
 padding: 10px 10px;
}
.Search_header{
 grid-template-columns: 50px 1fr 50px;
}
}
@media screen  and (max-width:446px) and (min-width:0px) {
#hide_on_small{
display: none;
}
.box2{

 grid-template-columns: 0.25fr 2fr 0fr;
}


}
@media screen  and (max-width:398px) and (min-width:0px){
.container .header{

grid-template-columns: minmax(140px,140px) 1fr 2fr;
}
.i{
display: none;
}
.search-Container{
       
     
       grid-template-columns: 100%;
}
.userPic{
padding: 0 auto;

}
.userPic #userProfile{
height: 35px ;
width:35px;
}
.resIcon,.search button i{
font-size: 16px;
}

}
/*bodycontainer css*/
.bodyContainer{
display:flex;

}
.sideNavToogle{
font-size: 20px;
width:80px;  
height: calc(100vh - 70px);
background-color: #212121;/*derk Theme*/
overflow-y:auto;
overflow-x: hidden;
transition: 90ms ease-out;
}
.bodyContainer .sideNav{
font-size: 20px;
width:240px;
height: calc(100vh - 70px);
background-color: #212121;/*derk Theme*/
overflow-y:auto;
overflow-x: hidden;
transition: 90ms ease-out;
}
.rightContainerToogle{
width:calc(100% - 80px);
height: calc(100vh - 70px);


}
.rightContainer{
width:calc(100% - 240px);
height: calc(100vh - 70px);


}
.rightContainerForSm{
width:100%;
}
#RightContainer{
overflow: auto;
}
.rightContainerIncHeight{
height: 100vh;
}

.bodyContainer .navItems ul{
list-style: none;
padding: 0;
margin: 0;
}
.bodyContainer .navItems ul li{ 
display:block;
width: 80px;
text-align: center;

}
.bodyContainer .navItems ul li a{
display:block;
text-decoration: none;
color: #fff;
font-size: 20px;
padding: 17px 0;
}
.bodyContainer .navItems ul li a:hover{

background-color: hsl(0, 0%, 19.6%);
}
.bodyContainer .navItems ul li a span{
display: block;
font-size: 10px;
}
/*
@media screen  and (max-width:600px) and (min-width:0px){
.bodyContainer .sideNav{

width:55px;
}
.rightContainer{
width: calc(100% - 55px);

}
}*/


.fullSidenav{
transition: 90ms ease-out;
z-index: 11;
width:240px;
background-color: #212121;
position: absolute;
height:100vh;
}
.fullSidenavMarginTop{
margin-top: 20px;
}
.barAndLogo{
height: 70px;
padding: 10px 20px;
color:#fff;
display:grid;
 grid-template-columns: 1fr 2fr;

}
@media screen  and (max-width:600px) and (min-width:0px) {
.barAndLogo{
height: 70px;
padding: 10px 10px;
}
.logo.x{
transform: scale(0.8);
}
}
.sideMenu{
height: calc(100vh - 70px);
overflow: auto;
}
.active{
background-color: hsl(0, 0%, 19.6%);
}

.longMenu ul{
list-style: none;
padding: 0;
margin: 0;
}
.longMenu ul li{ 
display:block;

}
.longMenu ul li a{
display:flex;
text-decoration: none;
color: #fff;
font-size: 20px;
padding-left: 20px;
padding-right: 20px;
height: 40px;
align-items: center;
}
.channelName_anchor{
justify-content: space-between;
}
.longMenu ul li .tittleSpan{
color: #919191;
text-transform: uppercase;
font-size: 14px;  
padding-left: 20px;
padding-right: 20px;
font-weight: 600;
}
.chanelName{
min-width: 134px;
max-width: 134px;
margin-left: 20px;

}
@media (max-width:600px) {
.longMenu ul li a{
padding-left: 10px;
padding-right: 10px;
}  
.longMenu ul li .tittleSpan{
padding-left: 10px;
padding-right: 10px;
}
}
.longMenu ul li a:hover{

background-color: hsl(0, 0%, 19.6%);
}
.longMenu ul li a .fa{
display: inline-block;
min-width:30px !important;
max-width: 30px !important;
text-align: center;
}
.longMenu ul li a .chanelIcon{
display: inline-block;
min-width:30px !important;
max-width: 30px !important;
height: 30px ;
text-align: center;
border-radius: 50%;
}
.longMenu ul li a .chanelIconLive{
height: 20px ;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
color:rgb(241, 43, 43);
width: 16px;
}
.longMenu ul li a .chanelIcon img{
width:100%;
height: 100%;
border-radius: 50%;
}
.longMenu ul li a span{
font-size: 14px;
margin-left: 20px;
/* font-weight: 600; */
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.longMenu ul li .tittleSpan a{
font-size: 12px;
/* font-weight: 600; */
color:#aaaaaa;
display: inline;
padding: 0;
margin: 0;
}
.bar{
padding: 0px 8px;
height:100%;
display: flex;
align-items: center;
color:#fff;
font-size: 20px;

}
.logo-second{

height: 100%;
}
.overlay{
z-index:11;
width:100vw;
height: 100vh;
background-color: rgb(0,0,0,0.5);
position: absolute;
}
#intrestBox{
/* cursor: grab;
border-top: 1px solid rgb(55,55,55);
border-bottom: 1px solid rgb(55,55,55);


padding: 8px 0px;
display: flex;
*/
/* width: calc(100% - 240px); */
background: #202020;
border-top: 1px solid rgb(55,55,55);
border-bottom: 1px solid rgb(55,55,55);
}
.hrScrollContainer{
display: grid;
grid-template-columns: 40px 1fr 40px;/*angle media query*/
z-index: 10;
}
.slider-control-btn{
cursor: pointer;
display: grid;
place-items: center;
color: #fff;
}
@media screen  and (max-width:807px) and (min-width:0px)  {
.hrScrollContainer{
grid-template-columns:  1fr /*hide angle on small devices*/
}
.slider-control-btn{
display: none;
}
}



.chipsContainer{

cursor: grab;
padding: 10px 0px;
display: flex;
overflow-x: auto;
scrollbar-width: none;/*fireFox*/
-ms-overflow-style:none;/*IE10+*/
}
.chipsContainer::-webkit-scrollbar{height:0px;}/*chrome & safari*/


.intBtn{
cursor: pointer;
padding: 8px 10px;
margin: 0px 5px;
background-color: #373737;
border:none;
border:1px solid #464646;
border-radius: 25px;
white-space: nowrap;
color: #fff;
font-size: 14px;
}

/*content Box CSS*/
.contentBox{
background: #181818;
padding: 20px;
color:#fff;
}
.contentBox .contentMainGridContainer{
display: grid;
grid-template-columns: repeat(4,1fr);
/* grid-auto-rows: 33%; */
gap:12px;
row-gap: 45px;
z-index: 55888888;

}

@media (max-width:1149px) {
.contentBox .contentMainGridContainer{

grid-template-columns: repeat(3,1fr);
}
}
@media (max-width:871px) {
.contentBox .contentMainGridContainer{
grid-template-columns: repeat(2,1fr);
}
.contentBox{
padding: 20px 5%;
}
}

@media (max-width:600px) {
.contentBox{
padding: 20px 20px;
}
}
@media (max-width:550px) {
.contentBox{
padding: 20px 10px;
}
}
@media (max-width:480px) {
.contentBox{
padding: 20px 15%;
}
.contentBox .contentMainGridContainer{
grid-template-columns: repeat(1,1fr);
}
}
@media (max-width:420px) {
.contentBox{
padding: 0px 0%;
}
.contentBox .contentMainGridContainer{
row-gap: 20px;
}
.video_lower_box{
padding: 0px 10px;
}

}
.thumbnails_wraper{
width:100%;
position: relative;
/* border:1px solid red; */

}
.thumbnails_wraper img{
width:100%;
cursor: pointer;
/* border:1px solid green; */
aspect-ratio: 16/9;

}
.thumbnails_wraper .video_length_box{
position: absolute;
bottom:8px;
right: 5px;
background-color: rgba(24, 24, 24, 0.936);
font-size: 12px;
font-weight: 600;
padding: 3px;

}
/*thumbnails hover effect code*/
.thumbnails_wraper .upperControl_btns_on_hover{
position: absolute;
top:5px;
right: 5px;
}
.addToQueueBox, .watch_later{
cursor: pointer;
background-color: rgba(24, 24, 24, 0.936);
font-size: 16px;
font-weight: 600; 
padding: 6px;
}
.addToQueueBox{
margin-top: 5px;
display: flex;
}

.text_right{
text-align: right;
}
.addToQueueBox:hover #text_tog::after{
content: 'ADD TO QUEUE';
padding: 0 5px;
font-size: 13px; 
}
.thumbnails_wraper:hover .upperControl_btns_on_hover{
display: block;
}
.upperControl_btns_on_hover{
display: none;
}
/*video info like chanel logo , video_desc etc*/
.video_lower_box{
cursor: pointer;
margin-top: 15px;
display:grid;
grid-template-columns: 36px 1fr 5px;
position: relative;/*some doubt*/

}
.video_lower_box div{
/* height: 36px; */

}
.chanell_icon_boX{
height: 36px; 
border-radius:50%;

}
.chanell_icon_boX img{
width:100%;
border-radius:50%;
height: 100%;

}

.video_and_chanell_description{
padding-left: 10px;
font-size:13px;
font-family: sans-serif;
}

.video_and_chanell_description .videoDesc{
/*limit text in n lines*/
word-break: break-word;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
line-height: 16px;/*fallback*/
max-height: 32px;/*fallback*/
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

font-weight: 600;
padding-right: 10px;
min-height: 34px;

}
@media (max-width:480px) {
.video_and_chanell_description .videoDesc{
min-height: 0px;
}
}
.limit_text_in_1_line{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.chanellName{
margin-top: 10px;
}
.chanellName a{
transition: 0.3s all;
text-decoration: none;
color:#8f8f8f;
}
.chanellName a:hover{
color:#fff;
}
.views{
/* font-size: 13px; */
color:#8f8f8f;

}
.smallDot{
font-size:8px;

}


*/
